<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>YourAppName</string>
    <key>CFBundleIdentifier</key>
    <string>com.yourcompany.yourapp</string>
    <key>CFBundleVersion</key>
    <string>1.0</string>
    <key>NSLocalNetworkUsageDescription</key>
    <string>We use your local network to discover services on your Mac.</string>
    <key>NSBonjourServices</key>
    <array>
        <string>_myapp._tcp.</string>
    </array>
</dict>
</plist>
